<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="contact.css">
    <title>Document</title>
</head>
<body>
    
    <nav id="mainnav" class="navbar navbar-dark navbar-expand-md fixed-top">
        <a href="/" class="navbar-brand">CS07</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
              <a href="/skill" class="nav-link">SKILLS</a>
            </li>
            <li class="nav-item">
              <a href="/project" class="nav-link">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link" style="color: #42768C;">CONTACT</a>
              </li>
          </ul>
        </div>
      </nav>

      <section class="container-fluid px-0 box">
        <div class="text-center">
            <div class="row justify-content-center">
                    <P class="lead">
            Email Id : <br><a href="mailto:chirag.suman2025@gmail.com" style="color: #42768C;">chirag.suman2025@gmail.com</a>
                    <br> <br>
            Connect me through : <br> <br>
            <a href="https://github.com/CStrike07"><i class="fa fa-github-square" style="font-size:48px;color:#000"></i></a>
<a href="https://www.linkedin.com/in/chirag-sinha-13a73011a/"><i class="fa fa-linkedin-square" style="font-size:48px;color:#000"></i></a>
<a href="https://www.instagram.com/__c_hirag/"><i class="fa fa-instagram" style="font-size:48px;color:#000"></i></a>
            </p>        
            </div>
        </div>
      </section>

     

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</body>
</html>