<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qualification</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
    <section class="edu" id="qualification">
        <div class="list1">
            <h3>Education</h3>
            <ul>
                <li>Ramaiah Institute Of Technology  <br>B.E EIE (2019-2023)</li>
                <li>Loyola High School <br>Secured 84.6% in 12th boards (2016-2018</li>
                <li>Manas Bhumi Sr. Sec. School <br>Scured 10CGPA in my 10th boards</li>
            </ul>
        </div>
    </section>
</body>
</html>