<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <link rel="stylesheet" href="style.css"></link>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="header">
        <a href="#home" class="logo">CS07</a>
        <ul>
            <li><a href="#home" onclick="toggle()">Home</a></li>
            <li><a href="#about" onclick="toggle()">About</a></li>
            <li><a href="#contact" onclick="toggle()">Contact</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>
   <section class="banner" id="home">
       <h2>Hello World <br><span>I'm Chirag Sinha</span></h2>
   </section>
    <!--about-->
    <section class="sec" id="about">
        <div class="content">
            <div class="self">
                <h3>About Myself</h3>
                <p>My self Chirag Sinha. 
                    I am an Engineering student, currently studying at 
                    Ramaiah Institute Of Technology, Bangalore.
                    I have a great love for Programming. 
<br> Following are in depth required details which you would like to know about me.
                 </p>
            </div>
        </div>
    </section>
    <section class="sec2" id="info">
        <div class="container">
            <div class="card">
                <div class="imgBx" data-text="Qualifications">
                    <h3>Qualifications</h3>
                </div>
                <div class="content">
                    <div>
                        <h3>Qualifications</h3>
                        <p>Currently <br> I am studying
                            at MSRIT B.E(2019-2023)
                        </p>
                        <a href="/education">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBx" data-text="Projects">
                    <h3>Projects</h3>
                </div>
                <div class="content">
                    <div>
                        <h3>Projects</h3>
                        <p>I have interest in many
                            different domains <br> like WEBDEV , 
                            Android , AI , ML.  </p>
                        <a href="/projects">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBx" data-text="Compititive Programming">
                    <h3>Compititive Programming</h3>
                </div>
                <div class="content">
                    <div>
                        <h3>Compititive Programming</h3>
                        <p>Soon I will share my profile of CP
                            <br>Of all the platforms I am using.
                        </p>
                        <a href="#home">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBx" data-text="Skill-Set">
                    <h3>Skill-Set</h3>
                </div>
                <div class="content">
                    <div>
                        <h3>Skill-Set</h3>
                        <p>Web Development <br> 
                        Compititive Programming</p>
                        <a href="/skills">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBx" data-text="Achievements And Experience">
                    <h3>Achievements And Experience</h3>
                </div>
                <div class="content">
                    <div>
                        <h3>Achievements And Experience</h3>
                        <p>
                            Currently <br> there is nothing to show here
                            <br>Will update it soon.
                        </p>
                        <a href="#home">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        </section>
        
        <section class="sec3" id="contact">
            <div class="details">
                <div class="social">
                    <p>Email ID: chirag.suman2025@gmail.com</p>
                    <div class="icon">
        <a href="https://www.linkedin.com/in/chirag-sinha-13a73011a/" class="fa fa-linkedin-square"></a>
        <a href="https://github.com/CStrike07" class="fa fa-github"></a>
        <a href="https://www.instagram.com/__c_hirag/" class="fa fa-instagram"></a>
                     </div>
                </div>
            </div>
        </section>
</body>
</html>