<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <title>Chirag Sinha</title>
</head>
<body>
<!--Nav Bar-->
  
<section id="header">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero"><img src="logo.png" alt=""></a>
      </div>
      <div class="nav-list">
        <div class="hamburger"><div class="bar"></div></div>
        <ul>
          <li><a href="#hero" data-after="Home">Home</a></li>
          <li><a href="#services" data-after="Service">Services</a></li>
          <li><a href="#projects" data-after="Projects">Projects</a></li>
          <li><a href="#about" data-after="About">About</a></li>
          <li><a href="#contact" data-after="Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<script>
  const hamburger = document.querySelector('.header .nav-bar .nav-list .hamburger');
const mobile_menu = document.querySelector('.header .nav-bar .nav-list ul');
const menu_item = document.querySelectorAll('.header .nav-bar .nav-list ul li a');
const header = document.querySelector('.header.container');

hamburger.addEventListener('click', () => {
	hamburger.classList.toggle('active');
	mobile_menu.classList.toggle('active');
});

document.addEventListener('scroll', () => {
	var scroll_position = window.scrollY;
	if (scroll_position > 250) {
		header.style.backgroundColor = '#040404';
	} else {
		header.style.backgroundColor = 'transparent';
	}
});

menu_item.forEach((item) => {
	item.addEventListener('click', () => {
		hamburger.classList.toggle('active');
		mobile_menu.classList.toggle('active');
	});
});
</script>

<!--Nav Bar-->

<!--Banner-->

 <section class="banner">
        <div id="hero">
            <div class="hero container">
              <div class="card"> 
              <div>
                <h1>Hello world, <span></span></h1>
                <h1>My self<span></span></h1>
                <h1>Chirag Sinha<span></span></h1>
              </div>
            </div>
        </div>
      </div>
      
</section> 

<!--banner-->

<!--About-->

<!-- <section id="about">
  <div class="about container">
    <div class="col-left">
      <div class="about-img">
        <img src="csinha.jpg" alt="img">
      </div>
    </div>
    <div class="col-right">
      <h1 class="section-title">About <span>me</span></h1>
      <h2>Front End Developer</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, velit alias eius non illum beatae atque repellat ratione qui veritatis repudiandae adipisci maiores. At inventore necessitatibus deserunt exercitationem cumque earum omnis ipsum rem accusantium quis, quas quia, accusamus provident suscipit magni! Expedita sint ad dolore, commodi labore nihil velit earum ducimus nulla quae nostrum fugit aut, deserunt reprehenderit libero enim!</p>
    </div>
  </div>
</section> -->

<!--About-->

<!--skills-->

<!--
<section class="skills" id="skills">
    <div class="container">
        <h2 class="my-skills">My Skills</h2>
        <div class="bar-1" >
            <div class="title" style="color: #084c61;">C/C++</div>
            <div class="bar" data-width="80%">
              <div class="bar-inner" style="background: #084c61;">
                
              </div>
              <div class="bar-percent">80%</div>
            </div>
            
            </div>
        <div class="bar-1">
        <div class="title">HTML5</div>
        <div class="bar" data-width="85%">
          <div class="bar-inner">
            
          </div>
          <div class="bar-percent">85%</div>
        </div>
        </div>
        <div class="bar-1">
        <div class="title" style="color: #084c61;">CSS3</div>
        <div class="bar" data-width="80%">
          <div class="bar-inner" style="background: #084c61;">
            
          </div>
          <div class="bar-percent">80%</div>
        </div>
        
        </div>
        <div class="bar-1">
        <div class="title" style="color: #525252;">Javascript</div>
        <div class="bar" data-width="75%">
          <div class="bar-inner" style="background: #525252;">
            
          </div>
          <div class="bar-percent">75%</div>
        </div>
        </div>
        <div class="bar-1">
        <div class="title" style="color: #5a68a5">React.js</div>
        <div class="bar" data-width="70%">
          <div class="bar-inner" style="background: #5a68a5;">
            
          </div>
          <div class="bar-percent">70%</div>
        </div>
        </div>
        <div class="bar-1">
            <div class="title">Node.js</div>
            <div class="bar" data-width="85%">
              <div class="bar-inner">
                
              </div>
              <div class="bar-percent">85%</div>
            </div>
            </div>
            <div class="bar-1">
                <div class="title" style="color: #5a68a5">DS/Algorithm</div>
                <div class="bar" data-width="60%">
                  <div class="bar-inner" style="background: #5a68a5;">
                    
                  </div>
                  <div class="bar-percent">60%</div>
                </div>
                </div>
      </div>
</section>
<script>
    $(".bar").each(function(){
  $(this).find(".bar-inner").animate({
    width: $(this).attr("data-width")
  },2000)
});
</script>  -->
<!--skills-->

<!--

<section class="project">
    <h4>Projects</h4> 
    <img class="img1" src="p1.png">
    <div class="desc">
     <p>  Created my Personal portfolio website from scratch. <br>
        Used HTML5 , CSS3 , Javascript , Node.js , Express  <br>
      <a href="" style="color: indianred;">Click Here To Visit</a>
    </p> 
    </div>

    <img class="img2" src="p2.png">
    <div class="desc1">
     <p>  Created a website to create awarness towards fitness. <br>
        Used HTML5 , CSS3 , Javascript , Node.js , Express  <br>
      <a href="" style="color: indianred;">Click Here To Visit</a>
    </p> 
    </div>

    <img class="img1" src="p3.png">
    <div class="desc">
     <p>  Created a CRUD application for grocery store management. <br>
        Used HTML5 , CSS3 , Javascript , Node.js , Express , MongoDB  <br>
      <a href="" style="color: indianred;">Click Here To Visit</a>
    </p> 
    </div>
</section> projects-->

<!--projects-->

<!--work-->

<!-- <section class="timeline">
    <h4>Work And Achievements</h4> 
    <div class="retro">
<section id="intro">

  <div id="intro-content" class="center-content">

    <div class="center-content-inner">

      <div class="content-section content-section-margin">

        <div class="content-section-grid clearfix">
        
        <a href="#" class="button nav-link">

          <div class="bottom"></div>

          <div class="top">

          <div class="label">Click Here To View Timeline</div>
            
        		<div class="button-border button-border-left"></div>
        	  <div class="button-border button-border-top"></div>
        	  <div class="button-border button-border-right"></div>
        		<div class="button-border button-border-bottom"></div>

          </div>

        	</a>

        </div>

       </div>

      </div>

     </div>

  </section>
</div>
</section> -->

<!--Timeline-->

<!--Contact-->

<!-- <section class="contact">
  <div class="icons">
  <ul>
    <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  </ul>
</div>
</section> -->

<!--Contact-->
</body>
</html>