<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
      <section id="project">
          <div class="domain">
              <h3>Web Development</h3>
              <div class="list2">
                  <ul>
                    <li>Created my own personal website. <br>By using pure HTML5,
                    CSS3 and JavaScript.
                    <br>For backend i have used node.js
                     and its framework express.</li>
                  </ul>
              </div>
          </div>
      </section>
</body>
</html>