body {
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
font-family: 'Shadows Into Light', cursive;
}
#mainnav {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
    animation: left-in 0.5s ease-in forwards;
      animation-delay: 0.5s;
  }
  #mainnav .navbar-brand {
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000000;
    font-weight: 200;
  }
  #mainnav .nav-link {
    color: white;
  }
  #mainnav .nav-link:hover {
    color: #42768C;
  }
  .content h2 {
      padding-top: 40px;
  }
  .content p {
    line-height: 2.0;
}
.tiles {
    margin-top: 50px;
}
#parts li {
    font-size: 22px;
    text-align: left;
}