
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
  min-height: 1000px;
}

.banners
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(bg1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banners h2
{
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1em;
}
.banners h2 span
{
    color: #4978ff;
}

/*----------------------------------------------------------*/
.sec
{
    background: #fff;
    padding: 50px;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: Center;
}
.sec .content
{
    position: relative;
    text-align: center;
    width: 100%;
}
.self
{
    max-width: 800px;
    margin: 0 auto;
}
h3
{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}
p
{
    position: relative;
    font-size: 18px;
    font-weight:300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sec2
{
    background:  #8bf0ba;
    padding: 50px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: Center;
}

.sec3
{
    background: #fff1b5;
    padding: 50px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: Center;
}

@media (max-width: 992px)
{
    
.banner
{
    background-position: center;
}
.banner h2
{
    font-size: 60px;
    padding: 0 50px;
}


.list1 h3
{
    text-align: center;
    font-size: 50px;
    padding: 50px;
}

.list1 ul
{
   text-align: left;
   font-size: 15px;
   padding-left: 100px;
}
.list1 ul li
{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
}
.domain h3
{
    text-align: left;
    font-size: 50px;
    padding: 50px;
}

.list2 ul
{
   text-align: left;
   font-size: 15px;
   padding-left: 100px;
}
.list2 ul li
{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
}
.branch h3
{
    text-align: left;
    font-size: 50px;
    padding: 50px;
}

.list3 ul
{
   text-align: left;
   font-size: 15px;
   padding-left: 100px;
}
.list3 ul li
{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
}
.branch1 h3
{
    text-align: left;
    font-size: 50px;
    padding: 50px;
}

.list4 ul
{
   text-align: left;
   font-size: 15px;
   padding-left: 100px;
}
.list4 ul li
{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 20px;
}
}