*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body
{
  background: #01082b;
  color: #42768C;
}
#mainnav {
  background-color: #01082b;
  font-size: 1.5rem;
  font-weight: lighter;
  animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
}
#mainnav .navbar-brand {
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: aqua;
  font-weight: 200;
}
#mainnav .nav-link {
  color: white;
}
#mainnav .nav-link:hover {
  color: #42768C;
}
.home
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.img-fluid
{
  padding-top: 80px;
  animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.9s;
}
.text-center
{
  padding-top: 100px;
  font-family: 'Indie Flower', cursive;
}
#webdev {
  animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.7s;
}
#cp {
  animation: left-in 0.5s ease-in forwards;
    animation-delay: 1.0s;
}
#cp span {
  color: whitesmoke;
  font-size: 50px;
  padding-top: 10px;
  font-family: 'Indie Flower', cursive;
}

#cptext span {
 opacity: 0.5;
 font-size: 35px;
 font-family: 'Montserrat', sans-serif;
 transform: translate(50%,-50%);
 text-transform: uppercase;
 text-shadow: 1px 1px 1px aqua,
        1px 2px 1px aqua,
        1px 3px 1px aqua,
        1px 4px 1px aqua,
        1px 5px 1px aqua,
        1px 6px 1px aqua,
        1px 7px 1px aqua,
        1px 8px 1px aqua,
        1px 9px 1px aqua,
        1px 10px 1px aqua,
    1px 18px 6px #101010c2,
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes left-in
{
    0%
    {
        transform: translateX(-200px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}